@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage-header{
  place-items: center;
  overflow: hidden;
  background: url("/DigitalWakaa.jpg");
  background-size: cover;
  background-position: center;
}

.service-image{
  background-color: rgba(0, 0, 0, 0.5);
}

.header-text{
  background: linear-gradient(to right, #0288D1, white, green);
  background-clip: border-box  padding-box  content-box  no-clip;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.image-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)); 
  z-index: 1; 
  border-radius: .75rem;
}

.navbar{
  background-color: whitesmoke;
}

.bd{
  border: 3px solid black;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 40;
}

.about{
  background: linear-gradient(to bottom, rgba(0,0,0,0.7 ), rgba(0,0,0,0.7)),url('/images/about-us.jpg');
  background-size: cover;
  background-position: center;
}

/* CSS for the loader */
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3faf3a;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
