@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage-header{
  place-items: center;
  overflow: hidden;
  background: url("/DigitalWakaa.jpg");
  background-size: cover;
  background-position: center;
}

.service-image{
  background-color: rgba(0, 0, 0, 0.5);
}

.header-text{
  background: linear-gradient(to right, #0288D1, white, green);
  background-clip: border-box  padding-box  content-box  no-clip;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}